$primary: #ffe594;
@import "~bootstrap/scss/bootstrap";

.centered {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

.topguard {
  display: flex;
  justify-content: center;
}

#vacReq {
  display: flex;
  width: 50%;
  height: 75%;
  background: green;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.midguard {
  justify-content: space-evenly;
  padding: 10% 0 0 0;
}

#sdi {
  width: 250px;
  height: 250px;
  margin: auto;
  background: #C4C4C4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}
#videoPlayer {
  width: 250px;
  height: 250px;
  margin: auto;
  background: #C4C4C4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}