$primary: #ffe594;
@import "~bootstrap/scss/bootstrap";

.centered {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

#header {
  position: fixed;
  padding-top: .1%;
  width: 100vmax;
  background-color: white;
  opacity: 1;
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 15%;
  padding-bottom: 5%;
}

.topguard {
  display: flex;
  justify-content: center;
  height: 40vmax;
}

#vacReq {
  display: flex;
  width: 72%;
  height: 90%;
  background: green;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.midguard {
  justify-content: space-evenly;
  padding-bottom: 5%;
}

.humit {
  display: flex;
  justify-content: space-evenly;
  width: 40vmax;
  height: 40vmax;
  background: #C4C4C4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  margin: auto;
}

.covidStats {
  display: flex;
  justify-content: space-evenly;
  width: 30vmax;
  height: 30vmax;
  background: #C4C4C4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  margin: auto;
}

#graphics {
  width: 150vmin;
}

#logo {
  padding-left: 5%;
}

.LogoSearch {  
  width: 1291px;
  height: 84px;
  left: 74px;
  top: 79px;
  background: #FAFAFA;
  padding-right: 5%;
}

.links {
  color: black;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100vmax;
  height: 5vmax;
  text-align: center;
  opacity: .5;
}