$primary: #ffe594;
@import "~bootstrap/scss/bootstrap";

.centered {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

#vacReq {
  display: flex;
  width: 1044px;
  height: 484px;
  left: 196px;
  top: 247px;
  background: green;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.midguard {
  justify-content: space-evenly;
}

#sdi {
  width: 250px;
  height: 250px;
  margin: auto;
  background: #C4C4C4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}
#videoPlayer {
  width: 250px;
  height: 250px;
  margin: auto;
  background: #C4C4C4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}